{% extends 'layot/basic.html' %}
{% load static %}
{% block content %}
      <section class = "section_3 ">
        <div class = "contacts_carts">

          
            
            <div class = "foto_text">
              <div class = "icon_text"><img src = "{% static 'english/img/here.png' %}"><p>Московская обл., д.Горчаково,ул. Школьная 13 к2</p></div>
              <div class = "icon_text icon_manager"><img src = "{% static 'english/img/manager.png' %}"><p>Преподаватель: Лидер Ксения Александровна</p></div>
              <div class = "icon_text"><img src = "{% static 'english/img/phone.png' %}"><p>Телефон: <a href = "tel:8-985-704-23-48"> +7 (985) 704-23-48</a></p></div>
              <div class = "icon_text"><img src = "{% static 'english/img/email.png' %}"><p>Почта: <a href = "mailto:karakulj2006@rambler.ru">karakulj2006@rambler.ru</a></p></div>
              </div>

          

        </div>
      </section>

    </main>
       {% endblock %}