{% extends 'layot/basic.html' %}
{% block content %}
      <section class = "section_1">
        <h2>Да зачем нам этот английский?</h2>
        <p> Вопрос, который всплывает сразу вслед за порывом его выучить.
Действительно, для чего его учить? На самом деле причин выучить английский язык можно назвать превеликое множество. И у
          каждого есть свои. Я уверена, что это действительно ценный инструмент, который вы сможете использовать в
          различных сферах своей жизни. Ну а чтобы немного вас замотивировать, представляю вам свои ТОП-5 причин.</p>
        <ol>
          <li><span class = "bold_text"> Возможность путешествовать</span></li>
          <li> <span class = "bold_text"> Лучшая работа</span></li>
          <li><span class = "bold_text">Международное образование</span></li>
          <li><span class = "bold_text">  Чтение книг и просмотр фильмов в оригинале</span></li>
          <li><span class = "bold_text"> Расширение интернет-границ</span></li>
        </ol>
        <p>Убедительно? Тогда перестаньте говорить себе, что у Вас нет времени, что Вы заняты, что Вам это не нужно. Начните наконец учить английский язык и позвольте кардинальным изменениям ворваться в Вашу жизнь!
            А я постараюсь Вам в этом помочь!</p>
        <p><span class = "bold_text">Для начала отвечу на возможные вопросы:</span></p>
        <ol>
          <li><span class = "bold_text"> Для кого?</span><p>
Мои ученики это дети от 5 лет, школьники и взрослые. </p></li>

<li> <span class = "bold_text">Уровень?</span><p>
От начального до продвинутого.</p>
</li>

<li><span class = "bold_text">Где?</span><p>
Уроки проходят онлайн на специальной обучающей платформе и через Zoom (со встроенными уроками, словарем, аудио, видео,
  интерактивными заданиями и тестами). Также провожу уроки у себя дома (Новая Москва, Первомайский район, Птичное) и
  выезжаю к ученикам по ТИНАО и Юго-Западному направлению.</p>
</li>

<li><span class = "bold_text"> Как?</span><p>
К каждому ученику индивидуальный подход. В зависимости от поставленных задач. Помощь с домашним заданием, устранение
  пробелов, подготовка к экзаменам (ОГЭ, ЕГЭ), разговорный курс, английский для путешествий и др. Курс для самый
  маленьких включает изучение основной лексики, разучивание стихов, песен, рифмовок. Весь урок проходит на английском
  языке, на котором мы поем, танцуем, рисуем, лепим из пластилина и очень много играем.</p>
</li>
        </ol>
      </section>

    </main>

    {% endblock %}

    
