{% extends 'layot/basic.html' %}
{% load static %}
{% block content %}

      <section class = "section_1 slider">
        <div class = "responsive">
          <div class = "slider_img">
            <img src = "{% static 'english/img/11.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/22.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/33.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/44.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/55.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/66.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/77.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/88.jpeg' %}">
          </div>
          <div class = "slider_img">
            <img src = "{% static 'english/img/99.jpeg' %}">
          </div>
        </div>
     </section>

    </main>
       {% endblock %}